<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Equipamentos</title>

    <link rel="shortcut icon" href="../assets/img/hospital125.png">
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>

<body>

    <header class="bng-navbar-menu">
        <div>
            <a href="../index.html">
                <img src="../assets/img/hospital255.png">
            </a>
            <h3>MedTech Solutions</h3>
        </div>

        <div>
            <button>Utilizador</button>
        </div>
    </header>

    <aside class="sidebar">
        <h4>Menu</h4>
        <nav>
            <a href="equipamentos.html">Equipamentos</a>
            <a href="localizacoes.html">Localizações</a>
            <a href="fornecedores.html">Fornecedores</a>
            <a href="documentacao.html">Documentação</a>
            <a href="dashboard.html">Dashboard</a>
        </nav>
    </aside>

    <main class="content">
        <h2>Equipamentos</h2>
        <p>Gestão dos equipamentos médicos.</p>
    </main>

</body>

</html>